<!-- ###HELPLIST### -->

<div>
	Upps, Hotkey not Found !!! <br />
	Use the following list to choose a Hotkey.<br /><br />
</div>

<table style="margin-bottom:20px;" width="50%" border="0" cellspacing="0" cellpadding="3" class="list" summary="">
	<caption align="top"></caption>
	<tr bgcolor="#cccccc">
		<td><strong>Universal Searchbar Items</strong></td>
		<td></td>
	</tr>
	<tr bgcolor="#E6E6E6">
		<td>Title</td>
		<td>Hotkey</td>

	</tr>
	<!-- ###ROW### -->
	<tr class="###CLASS###">
		<td>###TITLE###</td>
		<td>###HOTKEY###</td>
	</tr>
	<!-- ###ROW### -->
</table>
<!-- ###HELPLIST### -->