<!-- ###CONTENT### start --><?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
<ShortName>###SEARCHNAME###</ShortName>
<Description>###SEARCHDESCRIPTION###</Description>
<Image height="16" width="16" type="image/png">###SEARCHICON_PNG###</Image>
<Image height="64" width="64" type="image/jpg">###SEARCHICON_JPG###</Image>
<Url type="text/html" method="get" template="###SEARCHURL###"/>
</OpenSearchDescription>
<!-- ###CONTENT### end -->


<!-- ###ADDSEARCHPROVIDER### start-->
<a href="###SITEURL###" onclick="window.external.AddSearchProvider('###SEARCHPROVIDERLINK###');">###SEARCHPROVIDERLINKTEXT###</a>
<!-- ###ADDSEARCHPROVIDER### end-->
